# Node.js
node_modules/
dist/
.next/
.npm/
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
data-collector/pw.py

# Local Env
.env
hadoop.env
collected_data/
